* {
  color: black;
  max-width: 100vw;
  max-height: 100vh;
}

.body {
  display: flex;
  align-content: center;
  align-self: center;
  background-image: url("/src/images/BadCoLogo_Discord_Banner2222.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.nav-container{
  display: flex;
  width: 100vw;
  justify-content: end;
}

.button{
  background: black;
  color: white;
  border-color: white;
  border-radius: 15px;
  font-size: x-large;
  padding: 10px;
  margin: 10px;
}