html, body, #root {
  height: 100vh;
  width: 100vw;
  background-image: url('/src/images/BadCoLogo_Discord_Banner2222.png');
  color: white;
}

.dropbtn{
  display: inline-flex;
  background: rgb(0, 0, 0);
  color: white;
  border: 2px solid silver;
  border-radius: 10px;
  font-size: xx-large;
  padding: 10px;
  margin: 10px;
  right: -5rem;
}

.dropdown {
  display: flex;
  justify-self: flex-end;
  position: relative;
  padding-right: 2rem;
  margin-right: 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: -5.5rem;
  padding-right: 0;
  margin-right: 0;

}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
}


.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  color: white;
  border: 2px solid silver;
  border-radius: 10px;
  font-size: x-large;
  padding: 10px;
  padding-top: inherit;
  margin: 10px;
  text-decoration: none;
}

.home-h1, .stats-h1 {
  color: white;
}


.stats {
  display: flex;
  justify-self: center;
  background-image: url('/src/images/skull_soldier-01.jpg');
  background-position: center;
  background-size: cover;
  width: 98.5vw;
  height: 75vh;
  padding: 10px;
  margin: 20px;
}

.home-text{
  display: flex;
  background: transparent;
  justify-content: center;
}

.home-text p{
  font-size: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 2rem;
}

.login-container{
  display: flex;
  width: 100vw;
}