* {
  background-image: url("/src/images//BadCoLogo_Discord_Banner2222.png");
  color: white;
}


.nav-container{
  display: flex;
  width: 100vw;
  justify-content: end;
}

.button{
  display:inline-flex;
  flex-direction: row;
  background: rgb(0, 0, 0);
  color: white;
  border: 2px solid silver;
  border-radius: 10px;
  font-size: x-large;
  padding: 10px;
  padding-top:inherit;
  margin: 10px;
  text-decoration: none;
}


.stats-body{
  display: flex;
  align-content: center;
  align-self: center;
  background-image: url("/src/images/skull_soldier-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.login{
  color: white;
}

.home-text{
  display: flex;
  align-items: center;
  width: 100%;
  color: rgb(191, 191, 191);
  background: black;
}
